.toolboxContainer {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toolboxSelectedItem {
    background-color: #d5e2ff;
}

.toolboxSelectedItem:hover {
    background-color: #d1dfff;
}
